/* estilos banda */
.alf1_1648_icon_band {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMC4wMDAxIDEuNjY2OTlDNS40MDAwOCAxLjY2Njk5IDEuNjY2NzUgNS40MDAzMyAxLjY2Njc1IDEwLjAwMDNDMS42NjY3NSAxNC42MDAzIDUuNDAwMDggMTguMzMzNyAxMC4wMDAxIDE4LjMzMzdDMTQuNjAwMSAxOC4zMzM3IDE4LjMzMzQgMTQuNjAwMyAxOC4zMzM0IDEwLjAwMDNDMTguMzMzNCA1LjQwMDMzIDE0LjYwMDEgMS42NjY5OSAxMC4wMDAxIDEuNjY2OTlaTTEwLjgzMzQgMTQuMTY3SDkuMTY2NzVWMTIuNTAwM0gxMC44MzM0VjE0LjE2N1pNMTAuODMzNCAxMC44MzM3SDkuMTY2NzVWNS44MzM2NkgxMC44MzM0VjEwLjgzMzdaIiBmaWxsPSIjODg0MzFDIi8+Cjwvc3ZnPgo=');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

.alf1_1648_band_font_bold {
    font-weight: 700;
}

.alf1_1648_text_band {
    color: #88431C;
    font-family: "Red Hat Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    margin: 0;
}

.alf1_1648_band_container {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: #FFF3E0;
    animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}